body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-green {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-blue {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-white {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-gray {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.bg-lgray {
    background-color: #f2f2f2; /* Light Grey */
    color: #555555;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-green {
    border-radius: 8px;
    background-color: #1abc9c;
    color: white;
    margin-top: 20px;
}

.button-green:hover {
    background-color: white;
    color: #1abc9c;
    border-color: #1abc9c;

}


.panel-default .panel-heading {
    background-color: white;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover, .navbar-nav li.active a  {
    color: #1abc9c !important;
    background-color: transparent !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
img {
    margin-right: 23px;
}

.title { /*anchoring */
    padding-top: 75px;
    margin-top: -75px;
    position: relative;
    z-index: -1;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:3em;
    width: 200px;
  }